html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 320px;
}

button {
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  height: 100px;
  margin: 5px;
  text-transform: uppercase;
  width: 100px;
}

button:hover {
  background: white;
}

button:active {
  background: rgba(0,0,0,0.1);
}
